<div class="partner-list-container">
    <div class="filter-section">
      <mat-form-field appearance="fill">
        <mat-label>Категория партнера</mat-label>
        <mat-select [(value)]="selectedCategory" (selectionChange)="applyFilter()">
          <mat-option value="">Все категории</mat-option>
          <mat-option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-raised-button color="primary" (click)="openContactDialog(null, true)">
        <mat-icon>add</mat-icon> Запланировать контакт
      </button>
    </div>
  
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Имя партнера</th>
        <td mat-cell *matCellDef="let partner">{{ partner.name }}</td>
      </ng-container>
  
      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Категория</th>
        <td mat-cell *matCellDef="let partner">{{ partner.category }}</td>
      </ng-container>
  
      <!-- Last Contact Column -->
      <ng-container matColumnDef="lastContact">
        <th mat-header-cell *matHeaderCellDef>Последний контакт</th>
        <td mat-cell *matCellDef="let partner">{{ formatDate(partner.lastContactDate) }}</td>
      </ng-container>
  
      <!-- Next Contact Column -->
      <ng-container matColumnDef="nextContact">
        <th mat-header-cell *matHeaderCellDef>Следующий контакт</th>
        <td mat-cell *matCellDef="let partner">{{ formatDate(partner.nextContactDate) }}</td>
      </ng-container>
  
      <!-- Importance Column -->
      <ng-container matColumnDef="importance">
        <th mat-header-cell *matHeaderCellDef>Важность</th>
        <td mat-cell *matCellDef="let partner">
          <mat-chip-list>
            <mat-chip [color]="getImportanceColor(partner.importance)" selected>
              {{ getImportanceText(partner.importance) }}
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>
  
      <!-- Actions Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Действия</th>
        <td mat-cell *matCellDef="let partner">
          <button mat-icon-button color="primary" (click)="openContactDialog(partner, false)" matTooltip="Добавить внеплановый контакт">
            <mat-icon>add_call</mat-icon>
          </button>
          <button mat-icon-button color="accent" (click)="openContactDialog(partner, true)" matTooltip="Запланировать контакт">
            <mat-icon>schedule</mat-icon>
          </button>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>